<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoomInfoOutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoomInfoOutlookAddIn.Properties.Settings>
            <setting name="TcpPort" serializeAs="String">
                <value>8273</value>
            </setting>
            <setting name="UdpPort" serializeAs="String">
                <value>8274</value>
            </setting>
        </RoomInfoOutlookAddIn.Properties.Settings>
    </userSettings>
</configuration>